/**
* Lightbox
*/
#lightbox{
    border-color: blue;
    border-radius: 20px; ;
}

#lightbox::backdrop{
    background: blueviolet;
    animation: fond 2s forwards;
}


#lightbox {
      animation: open 1s forwards;
    }
  
  @keyframes fond{
    from {
      opacity: 0%;
    }
    to {
      opacity: 50%;
    }
  }

  @keyframes open {
    from {
      transform: scale(0);
    }
    to {
        transform: scale(1);
    }
  }
  